# Ignore copyparty folder
copyparty/

# Ignore workspace file
06_Capstone.code-workspace

# Ignore idea files
ideamine

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Virtual envs
.venv/
venv/

# Local env/config
.env

# Databases and storage
*.db
peerStor/data/
peerStor/tmp/
*.part

# Logs
*.log